############################
# Ignore ALL datasets
############################
data/*
!data/README.md      # keep only README

############################
# Ignore models (optional)
############################
models/*.pkl
models/*.pt
models/*.bin
models/*.txt
models/*.dat

############################
# Python cache / junk
############################
__pycache__/
*.pyc
*.pyo
*.log
*.DS_Store
*.ipynb_checkpoints/
